<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAECmv5DK5Z22nGYhmkE4mtB9Pt6FHyNs</string>
	<key>GCM_SENDER_ID</key>
	<string>77712420958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moztiq.tiktok</string>
	<key>PROJECT_ID</key>
	<string>moztiq-nc-tiktok-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>moztiq-nc-tiktok-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:77712420958:ios:ab61afdbcfb30fe14b84cf</string>
</dict>
</plist>
